<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Gerar Filme
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" >
        <div class="accordion-body" *ngIf="filme.link == null">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="genre" >
                <option *ngFor="let gen of genero" [value]="gen.id">{{gen.genre}}</option>
            </select>
            <div class="input-group">
                <input type="number" min="1960" max="2021" class="form-control" placeholder="YYYY" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="ano" required="required">
            </div>
            <button type="button" (click)="gerarFilme()" class="btn btn-primary mt-3">Descubrir filme</button>
        </div>

        <div class="accordion-body" *ngIf="filme.link != null">
            <div>
                <p><b>{{filme.nome}}</b></p>
            </div>
            <div>
                <button type="button" class="btn btn-warning"><a href="{{filme.link}}" target="_blank">Onde Assistir ?</a></button>
            </div>
            <div>
                <button type="button" (click)="gerarNovoFilme()" class="btn btn-primary mt-3">Gerar novo Filme</button>
            </div>
        </div>
    </div>
</div>

