<div class="accordion-item">
    <h2 class="accordion-header" id="header">
        <div>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo" >
                <div class="fw-bold mt-3">Buscar Filme</div>
            </button>
        </div>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
         data-bs-parent="#accordionExample">
        <div class="accordion-body" *ngIf="!temFilmeSelecionado()">

            <div>
            <label class="form-label fw-bold">Selecione um gênero de filme</label>
            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" [(ngModel)]="genre">
                <option *ngFor="let gen of genero" [value]="gen.id">{{gen.genre}}</option>
            </select>
            </div>

            <div>
                <label for="inputPassword5" class="form-label fw-bold mt-3">Selecione um ano</label>
                <input type="number" id="inputPassword5" class="form-control form-control-sm" min="1960" max="2021" placeholder="YYYY" aria-describedby="passwordHelpBlock" [(ngModel)]="ano">
                <div id="passwordHelwpBlock" class="form-text">
                    Selecione o ano entre 1960 a 2021.
                </div>
            </div>

            <div class="mt-lg-4">
                <label class="form-label fw-bold">Selecione uma nota: <span>{{nota}}</span></label>
                <input type="range" class="form-range" min="1" max="10" id="customRange2" [(ngModel)]="nota">

            </div>

            <div>
                <label for="inputPassword5" class="form-label fw-bold mt-3">Selecione a quantidade de votos</label>
                <input type="number" id="inputPassword52" class="form-control form-control-sm" min="1" max="9999" placeholder="1" aria-describedby="passwordHelpBlock" [(ngModel)]="votos">
                <div id="passwordHelwpBlocke" class="form-text">
                    Selecione a quantidade de votos entre 1 a 9999.
                </div>
            </div>

            <button type="button" (click)="gerarFilme()" class="btn btn-primary mt-3">Descubrir filme</button>
        </div>





        <div class="accordion-body" *ngIf="filme.link != null">
            <div>
                <p><b>{{filme.nome}}</b></p>
            </div>
            <div>
                <button type="button" class="btn btn-warning"><a href="{{filme.link}}" target="_blank">Onde Assistir
                    ?</a></button>
            </div>
            <div>
                <button type="button" (click)="gerarNovoFilme()" class="btn btn-primary mt-3">Gerar novo Filme</button>
            </div>
        </div>
    </div>
</div>

